@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This Is Zippyops Demo12 Application</h1>
                                     <img src="~/images/zippy.png" alt="ASP.NET" class="img-responsive" />
    <h2>This is a .net Application deployed by using Docker at  right now on the server!</h2>
</div>
